@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title...</h2>

<body id="aboutPage" style="background-color: mediumpurple">
<p><h4>My name is Reed West, and I am an Entreprenuership and MIS Major at the University
    of Oklahoma. I graduate in the class of 2022, and I am hoping to someday work in tech, whether
    on the technical side or the consulting side.</h4></p>

    <p><h4>Outside of school, I work at Fuzzy's taco shop in Norman. I enjoy composing and playing music, as well
    as drawing and designing graphic art. I enjoy fishing, hiking, and working on cars!</h4></p>
</body>
<nav><img style="height: 500px ; width: 350px" src="https://th.bing.com/th/id/R.5a5159f19d0d2425acad609aae928007?rik=yDKDeeI%2bRuLe%2fg&riu=http%3a%2f%2fimages.unsplash.com%2fphoto-1521215887590-97d360dedc46%3fixlib%3drb-1.2.1%26q%3d80%26fm%3djpg%26crop%3dentropy%26cs%3dtinysrgb%26w%3d1080%26fit%3dmax%26ixid%3deyJhcHBfaWQiOjEyMDd9&ehk=qCUYXWS502nCA6rZ5RLIfFFMqtNVXp7WLmLxm6iCHA8%3d&risl=&pid=ImgRaw&r=0" /></nav>