@{
    ViewBag.Title = "Employment History";
}

<h2>Employment History</h2>
<h4>Below is my employment history, starting in 2016</h4>
<body style="background-color: indianred"></body>
<address>
    Chick-fil-a (2016-2018)<br />
    Hospirce Source (2016-2018)<br />
    Knife Stakehouse (2018-2020)<br />
    Fuzzy's Taco Shop (2020-Present) <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<img style="height: 500px ; width: 350px" src="https://th.bing.com/th/id/R.c9f6aa3965370cf063e63bc5bc7e2a73?rik=1Bw2sa3v2BT1lQ&riu=http%3a%2f%2fintegrisok.com%2f-%2fmedia%2fnews%2f2020%2foffice-employees-workers.ashx%3frevision%3df174337e-b629-4b3a-b307-e7736f8294d8&ehk=7xz7nE5ctqfFD42uzEr8W6d2rBrFIa3WjiWbpzRuMWk%3d&risl=&pid=ImgRaw&r=0"/>