@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
     Below I have a rough outline of my resume, and furthermore my employment history.
    </div>
</body>
</html>
