@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:deepskyblue">
    <h1>Reed West</h1>
    <p class="lead">This application serves as a portfolio of all of my projects, assignments, and creations,
    as well displaying information about my life, and the direction of my career! Above are the various information
        tabs, and my skillset is listed below.</p> <br />

    <h2>Skillset</h2>
    I have academic experience with <br />
    <ul>
            <li>Python</li>
            <li>Java  </li>
            <li>C#    </li>
            <li>HTML  </li>
            <li>SQL   </li>      </ul>
   
</div>
<marquee>
<img src="https://th.bing.com/th/id/R.e5802cf8ac660a95727bc843f8c178c1?rik=azHhaihE%2fMaexw&pid=ImgRaw&r=0" style="max-height:500px ; max-width:250px"/>
<img style="max-height:500px ; max-width:250px" src="https://th.bing.com/th/id/R.4790d6157e44275994a899670965014c?rik=QFZwGSVF35b9EQ&riu=http%3a%2f%2fppcdn.500px.org%2f69735753%2fff1b9d538e4f412d8ba6005b842a5ebf9ede15d2%2f4.jpg&ehk=WpHMXw2qtNKL1HLWyFweatXcS44KwUMwFN77P%2boxdYk%3d&risl=&pid=ImgRaw&r=0" />
<img style="max-height:500px ; max-width:250px" src="https://th.bing.com/th/id/R.6a9276c6cab41fa4048585bea7070564?rik=vOnNoS39eNMp0A&riu=http%3a%2f%2freelsaltwaterfishing.com%2fwp-content%2fuploads%2f2017%2f05%2fsaltwater-fly-fishing.jpg&ehk=ZortGorjlAckcxPOR%2bud3J0o6kxinf86XCu3ZaBinEo%3d&risl=&pid=ImgRaw&r=0" />
<img style="max-height:500px ; max-width:250px" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f1/Memphis_Grizzlies.svg/1200px-Memphis_Grizzlies.svg.png" />
</marquee>
<body style="background-color:darkcyan">Reed West!!</body>