@{
    ViewData["Title"] = "Projects";
}

<h2>Projects</h2>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Projects</title>
</head>
<body style="background-color:aquamarine">
    <div>
       <h4> Here are some of my favorite projects, created at the University of Oklahoma!</h4>
    </div>
    <ol>
        <li>Pokemon JSON Data</li>
        <li>Rick & Morty API</li>
        <li>Chuck Norris Jokes</li>
        <li>Dog Breed Machine</li>
        <li>Graduation Card Application</li>
    </ol>
    <img style="height: 500px ; width: 350px"src="https://thumbs.dreamstime.com/z/cute-happy-smiling-cupcake-light-bulb-vector-flat-cartoon-character-illustration-icon-design-isolated-white-background-171832793.jpg"/>
</body>
</html>
